/* RESET */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

span {
    color: #FC6B3F;
}

/* Header */

nav {
    background: #FFF6DA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 150px;
    z-index: 2;

}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
    transform: translateX(0%);
}

.nav-links a:hover {
    color: #FC6B3F;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #FC6B3F;
    margin: 5px;
    transition: all 0.5s ease;
}

/* Fim do header */

/* HOME*/
.container-home {
    background-color: #FFF6DA;
    height: 660px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.title-home {
    width: 480px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;

}

.home-img {
    height: 418px;
    width: 683px;

}

.container-img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}


.background-buttom{
    display: none;
}
.buttom-buy-home{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    padding:20px;
    background-color: #FC6B3F;
    width: 190px;
    height: 60px;
    border-radius: 9px;
    text-transform: uppercase;
    font-weight: 500;
}

.buttom-buy-home:hover{
    opacity: 0.8;
}

.divisor-line {
    width: 100%;
    height: 30px;
}

/* FIM DO HOME */

/* ABOUT */
.container-about {
    background: linear-gradient(180deg, #FFF6DA 0%, rgba(196, 196, 196, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img-e-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;

}

.about-img {
    height: 356px;
    width: 347px;
}

.title-about {
    width: 1200px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.paragraph {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FC6B3F;
}

.cards-details {
    display: flex;
    gap: 15px;
    margin-bottom: 160px;
}

.card {
    width: 400px;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px -11px #000000;
    border-bottom: 2px solid #FC6B3F;
    padding: 15px;
}

/* DEPOSITIONS */

.container-depositions {
    background-color: #FFF6DA;
    /* height: 100vh;   */
    text-align: -webkit-center;
    padding: 35px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.comments {
    margin: 89px auto 78px;
}

.container-card {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cards {
    width: 570px;
    height: 270px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px -11px #000000;
    border-bottom: 2px solid #FC6B3F;
    padding: 35px;
}

.card-text p {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    width: 430px;
    margin-bottom: 15px;
}

.card-text span {
    font-size: 36px;
    line-height: 47px;
    margin-right: 10px;
}

.card-img {
    display: flex;
    align-items: center;
    gap: 40px;
}

.comments-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
    gap: 25px;
}


button {
    width: 190px;
    height: 50px;
    background: #FC6B3F;
    border: none;
    border-radius: 9px;
    font-weight: 500;
    line-height: 24px;
    color: #FFF6DA;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

.line hr {
    height: 6px;
    background-color: #84F2D6;
    border: none;
    width: 100%;
}

/* CONTACT */

.container-contact {
    background-color: #FFF6DA;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: -webkit-center;
}

.container-contact p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.container-contact button {
    width: 260px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer {
    background-color: #262525;
    padding: 40px;
}

.footer p {
    color: #FC6B3F;
    font-size: 18px;
    line-height: 23px;
}

.footer img {
    margin-bottom: 20px;
}


/* TABLET Galaxy Tab 57 da extensão(800px - 1200px) */
@media only screen and (max-width: 800px) {
    /* HEADER */

    .nav-links{
        margin-right: 25px;
    }

    /* HOME */
    
    .container-home{
        flex-direction: column;
    }
    .home-img{
        width: 450px;
        height: auto;
    }
    .container-img{
        align-items: center;
    }

    /* ABOUT */

    .img-e-text{
        margin-top: 80px;
    }
    .title-about{
        width: 600px;
    }
    .paragraph{
        width: 500px;
    }
    .cards-details{
        flex-direction: column;
        gap: 30px;
    }
    .card{
        width: 600px;
        height: 250px;
    }
    .card-title-about{
        font-size: 27px;
    }
    .card-text-about{
        font-size: 20px;
    }


}
/* FIM DO TABLET */

/* MOBILE CONFIG INICIO */
@media only screen and (max-width: 460px) {
    /* HOME INICIO */
    .title-home{
        font-size: 22px;
        width: 300px;
    }
    .home-img{
        width: 300px;
    }

    .background-buttom{
        display: block;
        position: absolute;
        width: 65%;
        top: 560px;
        left: 70px;
        z-index: 1;
    }

    /* HOME FINAL */

    /* ABOUT INICIO */
    .img-e-text{
        margin-top: 40px;
    }
    .about-img{
        width: 240px;
        height: auto;
    }
    .title-about{
        width: 320px;
        font-size: 19px;
        line-height: 22px;
    }
    .paragraph{
        width: 340px;
        font-size: 19px;
        line-height: 22px;
    }
    .card{
        width: 325px;
        height: 160px;
    }
    .card-title-about{
        font-size: 17px;
    }
    .card-text-about{
        font-size: 14px;
    }
    .img-card{
        width: 25px;
    }

    /* ABOUT FINAL */

}
/* MOBILE CONFIG FINAL */

/* MOBILE Menu "Não Alterar" */

@media only screen and (max-width: 760px) {
    nav {
        justify-content: space-between;
        padding: 0 5vw;
        height: 60px;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        min-height: 92vh;
        background: #FFF6DA;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin: 0;
        padding: 0;
        transform: translateX(100%);
        transition: All 0.5s ease-in;
    }

    .nav-links a {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}

@media only screen and (max-width: 640px) {
    nav {
        justify-content: space-between;
        padding: 0 5vw;
    }
}

.nav-active {
    transform: translateX(0);
}

@media only screen and (max-width: 460px) {
    .nav-links {
        width: 100%;
        transition: All 0.5s ease;
    }
}

.nav-active {
    transform: translateX(0);
}

/* ANIMATION */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}